* {
  font-size: 10px;
}

.Home01Img01 {
  left: 5%;
}

.Home01Img02 {
  margin-top: 400px;
  right: 5%;
}

.Home01Text01 {
  right: 15%;
}

.Home01Text02 {
  margin-top: 400px;
  left: 20%;
}

@media screen and (max-width: 1280px) {
  * {
    font-size: 6px;
  }

  .Home01Img02 {
    margin-top: 300px;
  }

  .Home01Text01 {
    right: 3%;
  }

  .Home01Text02 {
    margin-top: 300px;
    left: 8%;
  }

  @media screen and (max-width: 480px) {
    * {
      font-size: 4px;
    }
  }
}
