* {
  font-size: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1280px) {
  * {
    font-size: 6px;
  }

  @media screen and (max-width: 480px) {
    * {
      font-size: 4px;
    }
  }
}
