* {
  font-size: 10px;
}

.homeButton {
  font-size: 2rem;
}

@media screen and (max-width: 1280px) {
  * {
    font-size: 6px;
  }
}

@media screen and (max-width: 480px) {
  * {
    font-size: 4px;
  }
}
