@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  --main-color: #226140;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100vw;
  height: 100vh;
}

.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #2b2f3a, #0d0e12);
  overflow: hidden;
  &::before {
    position: absolute;
    width: 50%;
    height: 100vh;
    content: "";
    top: 0;
    left: 0;
    background-color: var(--main-color);
  }
  & .title {
    font-family: "Lobster", sans-serif;
    position: absolute;
    top: 10%;
    right: 60%;
    text-align: center;
    color: #fff;
    font-size: 150px;
    width: 40%;
    text-shadow: 3px 5px 0 #000;
    transform: rotate(-5deg);
  }
  & .content {
    color: #fff;
    position: absolute;
    top: 10%;
    left: 60%;
    text-align: justify;
    width: 350px;
    h1 {
      color: var(--main-color);
      font-size: 30px;
    }
    .item {
      display: none;
      &.active {
        display: block;
        & h1 {
          opacity: 0;
          animation: showContent 0.5s ease-in-out 1 forwards;
        }
        & .des {
          & .subtext {
            opacity: 0;
            animation: showContent 0.5s 0.3s ease-in-out 1 forwards;
            margin-top: 30px;
          }
          & h3 {
            opacity: 0;
            animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
            margin-top: 30px;
          }
          & .table {
            display: grid;
            width: 400px;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 50px;
            opacity: 0;
            margin-top: 20px;
            animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
            & div {
              border: 1px solid #fff;
              padding: 10px 15px;
              display: grid;
              align-items: center;
              justify-content: center;
              &:nth-child(1) {
                background: var(--main-color);
              }
              &:nth-child(2) {
                background: var(--main-color);
              }
              &:nth-child(3) {
                background: var(--main-color);
              }
              &:nth-child(7) {
                background: var(--main-color);
              }
              &:nth-child(8) {
                background: var(--main-color);
              }
              &:nth-child(9) {
                background: var(--main-color);
              }
            }
          }
        }
      }
      @keyframes showContent {
        from {
          opacity: 0;
          transform: translateY(100px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  & .images {
    position: absolute;
    bottom: 0%;
    left: 50%;
    --rotate: 0deg;
    transform: translate(-50%, 65%) rotate(var(--rotate));
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    outline: 3px dashed #fff5;
    outline-offset: -100px;
    & .item {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      rotate: calc(60deg * var(--i));
      & img {
        height: 420px;
      }
    }
  }
  & .prev,
  & .next {
    position: absolute;
    border: none;
    top: 50%;
    left: 250px;
    font-size: 100px;
    font-family: cursive;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    opacity: 0.3;
    cursor: pointer;
  }
  & .next {
    left: unset;
    right: 250px;
  }
  & .next:hover,
  & .prev:hover {
    opacity: 1;
  }
}
