@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
}

.container .perfumebox {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 80px;
}

/*----LA_TULIPE----*/

.container .perfumebox .perfume {
  width: 300px;
  height: 400px;
}

.container .perfumebox .perfume .imgbox {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container .perfumebox .perfume .imgbox:hover .underline {
  display: block;
}

.container .perfumebox .perfume .imgbox .img {
  background: url("./imgs/LA_TULIPE.jpg") center center;
  width: 100%;
  height: 100%;
}

.container .perfumebox .perfume .imgbox .underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: rgba(51, 51, 51, 0.8);
  display: none;
}

.container .perfumebox .perfume .imgbox .underline .clickIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container .perfumebox .perfume .imgbox .underline .clickIcon i {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.container .perfumebox .perfume .bottombox {
  width: 100%;
  height: 20%;
  background: #f0f2f5;
}

.container .perfumebox .perfume h3 {
  font-size: 20px;
}

.container .perfumebox .perfume h4 {
  font-size: 15px;
  color: #707070;
  margin-top: 5px;
}

.container .perfumebox .perfume p {
  font-size: 14px;
  color: #707070;
}

/*----MOJAVE_GHOST----*/

.container .perfumebox .perfume:nth-child(2) .img {
  background: url("./imgs/MOJAVE_GHOST.jpg") center center;
}

/*----BLANCHE----*/

.container .perfumebox .perfume:nth-child(3) .img {
  background: url("./imgs/BLANCHE.jpg") center center;
}

/*----GYPSY_WATER----*/

.container .perfumebox .perfume:nth-child(4) .img {
  background: url("./imgs/GYPSY_WATER.jpg") center center;
}

/*----modal----*/

.modalWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
}

.modalWrap.click {
  display: block;
}

.modal_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 1300px;
  height: 850px;
  background: #fff;
}

.modal .modal_header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
}

.modal .modal_section {
  width: 100%;
  height: 90%;
  display: flex;
}

.modal .modal_header i {
  font-size: 25px;
  cursor: pointer;
}

.modal .leftbox {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .leftbox .img {
  background: url("./imgs/LA_TULIPE.jpg") no-repeat center center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.modal .rightbox {
  width: 60%;
  height: 100%;
}

.modal .rightbox .brand {
  margin-top: 50px;
}

.modal .rightbox h1 {
  font-size: 25px;
}

.modal .rightbox h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.modal .rightbox h3 {
  font-size: 25px;
}

.modal .rightbox .price {
  display: flex;
  align-items: end;
  gap: 10px;
}

.modal .rightbox .title_price {
  font-size: 30px;
  margin-top: 20px;
}

.modal .rightbox h4 {
  font-size: 20px;
}

.delivery {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.deliveryTime {
  margin-top: 20px;
  display: flex;
  gap: 82px;
}

.deliveryTime span {
  color: #d99c63;
  font-weight: 900;
}

.deliveryTime .arrival {
  width: 500px;
  height: 120px;
  background: #f0f0f0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.deliveryTime .arrival .plus01 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.deliveryTime .arrival .plus01 h2 {
  font-size: 15px;
  color: #d99c63;
  margin: 0;
}

.deliveryTime .arrival .plus01 h3 {
  font-size: 15px;
}

.deliveryTime .arrival .plus01 p {
  font-size: 15px;
  color: #d99c63;
}

.deliveryTime .arrival .plus02 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.deliveryTime .arrival .plus02 h2 {
  font-size: 15px;
  margin: 0;
}

.deliveryTime .arrival .plus02 h3 {
  font-size: 15px;
}

.deliveryTime .arrival .plus02 p {
  font-size: 15px;
}

.quantitybox {
  margin-top: 40px;
  display: flex;
  gap: 120px;
}

.quantity {
  display: flex;
}

.quantity .num {
  width: 418px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid#ccc;
}

.quantitybox .quantity button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #fff;
  border: 1px solid#ccc;
  cursor: pointer;
}

.rightbox hr {
  width: 700px;
  margin-top: 30px;
}

.salebox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 500px;
}

.salebox .sale {
  display: flex;
  align-items: end;
}

.salebox .sale h3 {
  font-size: 35px;
}

.shoppingbtn {
  margin-top: 60px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.shoppingbtn button {
  width: 300px;
  height: 50px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.shoppingbtn .shoppingbag {
  background: #ccc;
}

.shoppingbtn .buy {
  background: #000;
}
