* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --main-color: #002c5f;
}

body {
  overflow-x: hidden;
}

.wrap {
  width: 100vw;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 7rem;
  color: var(--main-color);
  font-weight: 900;
  margin-top: 50px;
}

.container .search {
  width: 700px;
  height: 70px;
  border-radius: 40px;
  border: 2px solid var(--main-color);
  outline: none;
  font-size: 2rem;
  padding-left: 30px;
  margin-top: 30px;
}

.container .search:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 3px var(--main-color);
}

.container .title_namebox {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.container .title_namebox #resultText {
  font-size: 2.5rem;
}

.container .carbox {
  width: 90%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.container .carbox .car {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.container .carbox .car.show {
  animation: animate 0.4s ease;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.container .carbox .car.hide {
  display: none;
}

.container .carbox .car:hover {
  background: #f0f0f0;
}

.container .carbox .car .main_img {
  width: 320px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container .carbox .car .main_img480 {
  display: none;
}

.container .carbox .car h1 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 900;
  text-align: center;
}

.container .carbox .car h2 {
  font-size: 2rem;
}

.container .carbox .car p {
  font-size: 1.8rem;
  font-weight: 900;
  color: #707070;
}

.modal {
  width: 100%;
  height: 100%;
  display: none;
}

.modal.click {
  display: block;
}

.modalwrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalwrap .modal_container {
  width: 1500px;
  height: 700px;
  background: #f6f3f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalwrap .modal_container header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
}

.modalwrap .modal_container header i {
  font-size: 3.5rem;
  cursor: pointer;
}

.modalwrap .modal_container section {
  width: 1300px;
  height: 400px;
  margin-top: 50px;
  display: flex;
}

.modalwrap .modal_container section .leftbox {
  width: 700px;
  height: 100%;
  position: relative;
}

.modalwrap .modal_container section .rightbox {
  width: 600px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.modalwrap .modal_container section .rightbox1280 {
  display: none;
}

.modalwrap .modal_container section .rightbox480 {
  display: none;
}

.modalwrap .modal_container section .leftbox h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.modalwrap .modal_container section .leftbox h2 {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 30px;
}

.modalwrap .modal_container section .leftbox .detailsbox {
  width: 100%;
  height: 120px;
  margin-top: 80px;
  display: flex;
}

.modalwrap .modal_container section .leftbox .detailsbox .details {
  width: 175px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-right: 1px solid#ccc;
}

.modalwrap .modal_container section .leftbox .detailsbox .details:nth-child(4) {
  border: none;
}

.modalwrap .modal_container section .leftbox .detailsbox .details h4 {
  font-size: 2rem;
  color: #707070;
}

.modalwrap .modal_container section .leftbox .detailsbox .details p {
  font-size: 2.5rem;
  font-weight: 900;
}

.modalwrap .modal_container footer {
  width: 1200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.modalwrap .modal_container footer button {
  width: 350px;
  height: 60px;
  cursor: pointer;
  color: #fff;
  background: var(--main-color);
  font-size: 2.2rem;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  * {
    font-size: 6px;
  }

  .container .search {
    width: 500px;
    height: 60px;
    margin-top: 30px;
  }

  .modalwrap .modal_container {
    width: 900px;
    height: 500px;
  }

  .modalwrap .modal_container header {
    width: 100%;
    height: 80px;
  }

  .modalwrap .modal_container section {
    width: 800px;
    height: 400px;
    margin-top: 50px;
  }

  .modalwrap .modal_container section .leftbox {
    width: 400px;
    height: 100%;
    position: relative;
  }

  .modalwrap .modal_container section .rightbox {
    width: 400px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
  }

  .modalwrap .modal_container section .rightbox1280 {
    width: 400px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
  }

  .modalwrap .modal_container footer button {
    width: 250px;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  * {
    font-size: 4px;
  }

  .container h1 {
    font-size: 7rem;
    color: var(--main-color);
    font-weight: 900;
    margin-top: 50px;
  }

  .container .search {
    width: 300px;
    height: 40px;
  }

  .container .title_namebox {
    margin-top: 40px;
  }

  .container .carbox {
    width: 90%;
    gap: 10px;
  }

  .container .carbox .car {
    width: 100px;
    height: 90px;
    gap: 5px;
  }

  .container .carbox .car .main_img {
    display: none;
  }

  .container .carbox .car .main_img480 {
    width: 80px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
  }

  .modalwrap .modal_container {
    width: 350px;
    height: 200px;
  }

  .modalwrap .modal_container header {
    width: 100%;
    height: 100px;
    padding-right: 20px;
  }

  .modalwrap .modal_container section {
    width: 300px;
    height: 100px;
    margin-top: 0;
  }

  .modalwrap .modal_container section .leftbox {
    width: 150px;
    height: 100%;
    position: relative;
  }

  .modalwrap .modal_container section .rightbox {
    display: none;
  }

  .modalwrap .modal_container section .rightbox1280 {
    display: none;
  }

  .modalwrap .modal_container section .rightbox480 {
    width: 150px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
  }

  .modalwrap .modal_container section .leftbox h2 {
    font-size: 3.5rem;
    margin-top: 10px;
  }

  .modalwrap .modal_container section .leftbox .detailsbox {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
  }

  .modalwrap .modal_container section .leftbox .detailsbox .details {
    width: 50px;
    height: 100%;
    gap: 5px;
  }

  .modalwrap .modal_container section .leftbox .detailsbox .details h4 {
    font-size: 1.5rem;
  }

  .modalwrap .modal_container section .leftbox .detailsbox .details p {
    font-size: 1.6rem;
  }

  .modalwrap .modal_container footer {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .modalwrap .modal_container footer button {
    width: 75px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    font-size: 2.2rem;
    font-weight: bold;
  }
}
