@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --main-color: #ffc423;
  --main_red-color: #d51016;
  --main_brown-color: #453e3b;
}

.App {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.wrap {
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .wrap {
    width: 1280px;
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    width: 480px;
  }
}
