body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  height: 30%;
  background: var(--main-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
}
