@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

:root {
  --background-color: #000;
  --white-color: #fff;
}

#wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--background-color);
  overflow: hidden;
}

/*----container----*/

.container {
  position: relative;
  transform: translateY(-100px);
}

.container h1 {
  color: var(--white-color);
  margin-top: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.container .pixar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*----contentbox----*/

.container .contentbox {
  margin-top: 8%;
  display: flex;
  gap: 15px;
}

/*---- Toystory----*/

.container .contentbox .movie {
  width: 150px;
  height: 300px;
  background: url("./imgs/toystory.jpg") no-repeat center center;
  background-size: cover;
  filter: grayscale(1);
  transition: 0.8s;
}

.container .contentbox .movie:hover {
  transform: translateY(-40px);
}

.container .contentbox .movie_shadow {
  width: 150px;
  height: 300px;
  background: url("./imgs/toystory.jpg") no-repeat center center;
  background-size: cover;
  transform: rotate(180deg);
}

/*---- bug----*/

.container .contentbox #bug {
  background: url("./imgs/bug.jpg") no-repeat center center;
  background-size: cover;
}

.container .contentbox #bugShadow {
  background: url("./imgs/bug.jpg") no-repeat center center;
  background-size: cover;
}

/*---- elemental----*/

.container .contentbox #elemental {
  background: url("./imgs/elemental.png") no-repeat center center;
  background-size: cover;
}

.container .contentbox #elementalShadow {
  background: url("./imgs/elemental.png") no-repeat center center;
  background-size: cover;
}

/*---- insideout----*/

.container .contentbox #insideout {
  background: url("./imgs/insideout.jpg") no-repeat center center;
  background-size: cover;
}

.container .contentbox #insideoutShadow {
  background: url("./imgs/insideout.jpg") no-repeat center center;
  background-size: cover;
}

/*---- monster----*/

.container .contentbox #monster {
  background: url("./imgs/monster.jpg") no-repeat center center;
  background-size: cover;
}

.container .contentbox #monsterShadow {
  background: url("./imgs/monster.jpg") no-repeat center center;
  background-size: cover;
}

/*---- nemo----*/

.container .contentbox #nemo {
  background: url("./imgs/nemo.jpg") no-repeat center center;
  background-size: cover;
}

.container .contentbox #nemoShadow {
  background: url("./imgs/nemo.jpg") no-repeat center center;
  background-size: cover;
}

/*----princess----*/

.container .contentbox #princess {
  background: url("./imgs/princess.jpg") no-repeat center center;
  background-size: cover;
}

.container .contentbox #princessShadow {
  background: url("./imgs/princess.jpg") no-repeat center center;
  background-size: cover;
}

/*----ratatouille----*/

.container .contentbox #ratatouille {
  background: url("./imgs/ratatouille.jpg") no-repeat center center;
  background-size: cover;
}

.container .contentbox #ratatouilleShadow {
  background: url("./imgs/ratatouille.jpg") no-repeat center center;
  background-size: cover;
}

/*----up----*/

.container .contentbox #up {
  background: url("./imgs/up.jpg") no-repeat center center;
  background-size: cover;
}

.container .contentbox #upShadow {
  background: url("./imgs/up.jpg") no-repeat center center;
  background-size: cover;
}

/*----walle----*/

.container .contentbox #walle {
  background: url("./imgs/walle.jpg") no-repeat center center;
  background-size: cover;
}

.container .contentbox #walleShadow {
  background: url("./imgs/walle.jpg") no-repeat center center;
  background-size: cover;
}

.container .contentbox .movie_shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 300px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.container .pixar {
  top: 700px;
  left: 35%;
  position: absolute;
}

.container h3 {
  color: var(--white-color);
  font-size: 10rem;
  letter-spacing: 50px;
  font-family: "Playfair Display", serif;
}

.container .pixar #dark {
  width: 81px;
  height: 108px;
  background: url("./imgs/stand_dark.png") no-repeat center center;
  background-size: cover;
  margin-right: 50px;
  cursor: pointer;
}

.container .pixar #white {
  display: none;
  width: 81px;
  height: 108px;
  background: url("./imgs/stand_light.png") no-repeat center center;
  background-size: cover;
  margin-right: 50px;
  cursor: pointer;
}

.container .click {
  font-size: 2.3rem;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 840px;
  left: 42.6%;
}

@media screen and (max-width: 1280px) {
  * {
    font-size: 6px;
  }

  .container h1 {
    margin-top: 20%;
  }

  /*----contentbox----*/

  .container .contentbox {
    margin-top: 8%;
    display: flex;
    gap: 10px;
  }

  /*---- Toystory----*/

  .container .contentbox .movie {
    width: 100px;
    height: 300px;
    background: url("./imgs/toystory.jpg") no-repeat center center;
    background-size: cover;
    filter: grayscale(1);
    transition: 0.8s;
  }

  .container .contentbox .movie:hover {
    transform: translateY(-40px);
  }

  .container .contentbox .movie_shadow {
    width: 100px;
    height: 300px;
  }

  .container .contentbox .movie_shadow::before {
    width: 100px;
    height: 300px;
  }

  .container .pixar #dark {
    width: 70px;
    height: 90px;
  }

  .container .pixar #white {
    width: 70px;
    height: 90px;
  }

  .container .click {
    left: 44.5%;
    top: 820px;
  }
}

@media screen and (max-width: 480px) {
  * {
    font-size: 4px;
  }

  .container {
    position: relative;
    transform: translateY(100px);
  }

  .container h1 {
    margin-top: 15%;
  }

  .container .contentbox {
    margin-top: 15%;
    display: flex;
    gap: 5px;
  }

  /*---- Toystory----*/

  .container .contentbox .movie {
    width: 30px;
    height: 100px;
    background: url("./imgs/toystory.jpg") no-repeat center center;
    background-size: cover;
    filter: grayscale(1);
    transition: 0.8s;
  }

  .container .contentbox .movie:hover {
    transform: translateY(-40px);
  }

  .container .contentbox .movie_shadow {
    width: 30px;
    height: 100px;
  }

  .container .contentbox .movie_shadow::before {
    width: 30px;
    height: 100px;
  }

  .container .pixar {
    top: 350px;
    left: 15%;
    position: absolute;
  }

  .container h3 {
    color: var(--white-color);
    font-size: 10rem;
    letter-spacing: 20px;
    font-family: "Playfair Display", serif;
  }

  .container .pixar #dark {
    width: 60px;
    height: 80px;
  }

  .container .pixar #white {
    width: 60px;
    height: 80px;
  }

  .container .click {
    left: 33%;
    top: 460px;
  }
}
